body {
    font-family: Monospace;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
	padding: 5px;
}

table.test{
	position: relative;
	padding: 5px;
    border: 1px solid black;
	left: 50px;
	-webkit-box-shadow: 0px 0px 19px 5px rgba(50, 50, 50, 0.23);
    -moz-box-shadow:    0px 0px 19px 5px rgba(50, 50, 50, 0.23);
    box-shadow:         0px 0px 19px 5px rgba(50, 50, 50, 0.23);	
}



li.audio:hover {
	color: #23B6B6;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	cursor: pointer;
}