body {
    font-family: Monospace;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}

#canvas-1 {
    background-color: #f8f8f8;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 0px;
    left: 0px;
}
